.content{
    display: none; 
    background-color: grey;
    color: black;
    padding: 5px;
    border: solid black 1px;
    font-size: 20px;
}
.mainText{
    background-color: cadetblue;
    color: black;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
    border: solid black 3px;
}
.active{
    display: block;
}